@font-face {
  font-family: "Phosphor";
  src:
    url("./fonts/Phosphor.woff2") format("woff2"),
    url("./fonts/Phosphor.woff") format("woff"),
    url("./fonts/Phosphor.ttf") format("truetype"),
    url("./fonts/Phosphor.svg#Phosphor") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ph.ph-user:before {
  content: "\e4c2";
}
.ph.ph-book-open:before {
  content: "\e0e6";
}
.ph.ph-user:before {
  content: "\e4c2";
}
.ph.ph-magnifying-glass:before {
  content: "\e30c";
}
.ph.ph-house:before {
  content: "\e2c2";
}

.ph.ph-arrow-left:before {
  content: "\e058";
}
.ph.ph-moon-stars:before {
  content: "\e58e";
}
.ph.ph-arrow-down:before {
  content: "\e03e";
}